.btnScore {
  flex-direction: column !important;
  width: 40px;
  min-width: 40px !important;
  padding: 13px 10px !important;
  color: var(--ics-color-blue-1) !important;
  font-size: 1.25rem !important;
  line-height: 1.5rem!important;
  font-weight: 500!important;
  background-color: var(--ics-color-gray-2) !important;
  border-radius: 10px !important;
  box-shadow: none !important;

  & span {
    margin: 0 !important;

    &:first-child {
      margin-bottom: 20px !important;
    }

    &:nth-child(2) {
      margin-top: 20px !important;
    }
  }
}
