:root {
  --ics-color-white: hsl(0, 0%, 100%);

  --ics-color-red-1: hsl(358, 79%, 66%);
  --ics-color-red-2: hsl(357, 100%, 86%);

  --ics-color-blue-1: hsl(238, 40%, 52%);
  --ics-color-blue-2: hsl(212, 24%, 26%);
  --ics-color-blue-3: hsl(211, 10%, 45%);
  --ics-color-blue-4: hsl(239, 57%, 85%);

  --ics-color-gray-1: hsl(223, 19%, 93%);
  --ics-color-gray-2: hsl(228, 33%, 97%);
}
